.dropzone {
  & label[for="foto-perfil"] {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    margin-bottom: 0;

    & div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem;
      border-radius: 0.5rem;
      background-color: var(--shape-button);

      svg {
        width: 1rem;
        height: 1rem;

        path {
          fill: var(--brand-light);
        }
      }

      span {
        font: var(--body-sm-semibold);
        color: var(--text-heading);
      }
    }
  }

  & input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    color: var(--input-placeholder);

    &::file-selector-button {
      display: none;
    }

    &:has(input[type="file"]:valid) {
      color: red;
    }
  }
}
