input,
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  outline: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  padding: 1rem;
  font: var(----body-mb);
  color: var(--text-body);
}

label {
  font: var(--body-sm);
  display: block;
  margin-bottom: 0.75rem;
}

input:focus,
textarea:focus,
select:focus,
input[type="datetime-local"]:focus-within {
  outline: 1px solid var(--brand-light);
  outline-offset: 0.1px;
  color: var(--text-heading);
}

input[type="datetime-local"] {
  position: relative;
  color: var(--input-placeholder);

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

input {
  &:invalid {
    border: 0.125rem solid var(--danger);
  }

  &[required] + .error {
    display: none;
    align-items: center;
    gap: 0.25rem;
    font: var(--body-xs);
    color: var(--danger);
    margin-top: 0.25rem;

    svg {
      width: 1rem;
      height: 1rem;

      path {
        fill: var(--danger);
      }
    }
  }

  &:not(:valid) + .error {
    display: flex;
  }
}
