.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  grid-template-row: 1fr;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  padding: 0.25rem;
  background-color: var(--input-base);
}

.radio-inner {
  border-radius: 0.5rem;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  position: relative;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.85rem;
    margin-bottom: 0;

    img {
      width: 1rem;
      height: 1rem;
      object-fit: contain;
    }

    span {
      font: var(--body-sm-semibold);
    }
  }

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:hover,
  &:focus-within {
    border: 1px solid var(--stroke-highlight);
  }

  &:has(:checked) {
    background-color: var(--shape-button);

    & label {
      svg path {
        fill: var(--brand-light);
      }
    }
  }
}

.color-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.color-inner {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: var(--shape-button);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  label {
    &[for="cor1"] {
      background: var(--brand-light);
    }

    &[for="cor2"] {
      background: var(--navy);
    }

    &[for="cor3"] {
      background: var(--purple);
    }

    &[for="cor4"] {
      background: var(--fuschia);
    }

    &[for="cor5"] {
      background: var(--pink);
    }

    &[for="cor6"] {
      background: var(--danger);
    }

    &[for="cor7"] {
      background: var(--orange);
    }

    &[for="cor8"] {
      background: var(--yellow);
    }

    &[for="cor9"] {
      background: var(--lime);
    }

    &[for="cor10"] {
      background: var(--green);
    }

    &[for="cor11"] {
      background: var(--cyan);
    }

    width: 1.75rem;
    height: 1.75rem;
    background: var(--shape-background);
    border-radius: 50%;
    margin-bottom: 0;
  }

  &:hover,
  &:focus-within {
    background-color: var(--shape-hover);
  }

  &:has(:checked) {
    background-color: var(--shape-button);
    border: 2px solid var(--brand-light);
  }
}

.theme-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 0.5rem;
}

.theme-inner {
  position: relative;
  border: 2px solid transparent;
  width: 8.375rem;
  padding-top: 0.25rem;
  padding-inline: 0.25rem;
  border-radius: 0.5rem;
  background-color: var(--shape-button);

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  label {
    text-align: center;
    color: var(--text-heading);
    margin-bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      margin-block: 0.5rem;
    }
  }

  &:hover {
    background-color: var(--shape-hover);
  }

  &:has(:checked) {
    border: 2px solid var(--brand-light);
  }
}
