@import url(fields/index.css);

form {
  width: 35rem;
  margin-top: 2.5rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 1rem;
}

legend {
  font: var(--heading-sm);
  color: var(--text-heading);
  margin-bottom: 1.5rem;
  align-items: center;
  gap: 0.75rem;
}

fieldset + fieldset {
  margin-top: 3rem;
}
