* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;
  --danger: #ff5959;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  --font-family-leckerli-one: "Leckerli One", sans-serif;
  --font-family-baloo: "Baloo 2", sans-serif;
  --font-family-opens-sans: "Open Sans", sans-serif;

  --logo: 400 2.5rem var(--font-family-leckerli-one);
  --heading-md: 800 1.75rem var(--font-family-baloo);
  --heading-sm: 800 1.125rem var(--font-family-baloo);

  --body-mb: 400 1rem var(--font-family-opens-sans);
  --body-mb-semibold: 600 1rem var(--font-family-opens-sans);

  --body-sm: 400 0.875rem var(--font-family-opens-sans);
  --body-sm-semibold: 600 0.875rem var(--font-family-opens-sans);

  --body-xs: 400 0.75rem var(--font-family-opens-sans);
  --body-xs-semibold: 600 0.75rem var(--font-family-opens-sans);
}

body {
  overflow: hidden;
  font: var(--body-mb);
  color: var(--text-body);
  background-color: var(--shape-background);
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-style {
  grid-template-columns: 176px 1fr;
}

.gap-16 {
  gap: 1rem;
}

.mt-28 {
  margin-bottom: 1.75rem;
}
