#app {
  display: grid;
  grid-template-columns: 31.25% 68.75%;
  height: 100vh;
  gap: 1.25rem;
  padding: 1.25rem;
  overflow: hidden;
}

aside {
  border-radius: 0.75rem;
  background-image: url(../assets/Background.png); // Aqui coloca o caminho da sua imagem
  background-position: center;
  background-size: cover;

  .aside-container {
    display: grid;
    position: relative;
    padding: 2rem 2rem 0 2rem;
    border-radius: 0.75rem;

    & img:first-child {
      width: 2.8125rem;
      height: 3rem;
    }

    & h2 {
      font: var(--logo);
      color: var(--pink);
    }
    & p {
      font: var(--body-mb);
      color: var(--text-heading);
    }
  }
}

main {
  overflow: auto;

  & .main-container {
    padding: 5rem 8.125rem;
    border-radius: 0.75rem;
    background-color: var(--shape-body);
  }
}
